#main{
  background-color: #BCAB79;
  border: 20px solid #BCAB79;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
#title{
  text-align: center;
  font-size: 50px;
  
}
h4 {
  text-align: center;
  padding-bottom: 10px;
}

#img-div{
  background-color: #DCE1DE;
  text-align: center;
  border-top: 100px solid #DCE1DE;
  border-bottom: 2px solid #DCE1DE;
  border-radius: 4px;
}
#tribute-info{
  line-height: 100px;
  position: relative;
  left: 10%;
}
#quote{
  text-align: center;
  padding-top: 50px
}
#author{
  text-align: center;
}
#link-note{
  text-align: center;
   padding-top: 50px;
   font-weight:bold;
  font-size: 20px
}
ul{
  line-height: 40px;
}
#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
opacity: 0.8;
border-radius: 6px;
}
#img-caption{
  padding: 10px;
}

